<!DOCTYPE html>
<html   lang="en">
<head>
    <meta charset="UTF-8">
    <title>Добавить свойство</title>
</head>
<body>
    <div  ng-hide="close" ng-controller="SelectProperty as SelectProperty" class="selection-list">
        <p>Выберите свойство, которое хотите добавить</p>
        <label class="selection-list__item">Материал
            <input type="checkbox" ng-model="checkMaterial">
            <input type="text" ng-show="checkMaterial" ng-model="objectProperty.material">
        </label>
        <label class="selection-list__item">Цвет
            <input type="checkbox" ng-model="checkColor">
            <input type="text" ng-show="checkColor" ng-model="objectProperty.color">
        </label>
        <label class="selection-list__item">Вес
            <input type="checkbox" ng-model="checkWeight">
            <input type="text" ng-show="checkWeight" ng-model="objectProperty.weight">
        </label>
        <button ng-click="SelectProperty.saveProperties(objectProperty)">Ок</button>
    </div>
    {{objectMethod.color}}

</body>
</html>