<canvas width="200px" height="200px"ng-controller="drawCtrl as drawCtrl"></canvas>
<p id="canvasSpace"></p>
<!--<aside ng-controller="WriteCode as WriteCode"><textarea ng-model="code"></textarea></aside>-->
<div ng-controller="btnsCtrl as btnsCtrl">
    <button idialog="view1/addProperty.html">Добавить свойство</button>
    <button idialog="view1/addMethod.html">Добавить метод</button>
    <button  addcanvas ng-click="btnsCtrl.createInstance()">Создать экземпляр</button> <inpit type="text" ng-model="parentObj= 'Ball'"/>
</div>
